PORT=3000
ALLOWED_ORIGIN=http://examplpe.com
EXAMPLE_TOKEN=your_example_token_here

# firebase
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID="project if"
FIREBASE_PRIVATE_KEY_ID="private key id"
FIREBASE_PRIVATE_KEY="private key"
FIREBASE_CLIENT_EMAIL="client email"
FIREBASE_CLIENT_ID="client id"
FIREBASE_AUTH_URI="auth uri"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL="client x509 cert url"
FIREBASE_UNIVERSE_DOMAIN="googleapis.com"

# react
REACT_APP_SERVER_URL=url